# Build directories
build_cpu/
build_cuda/

# Binary files
*.bin
*.o
*.out

# Data
cifar-10-binary/cifar-10-binary.tar.gz



# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
